*{
    margin: 0;
}

.contenedor{

    background-color: rgb(165, 36, 36);
    width: 100vw;
    height: 100vh;
    text-align: center;
}

p{
    font-size: xx-large;
    padding: 20%;
    color: rgb(0, 0, 0);
}

button{
    font-size: xx-large;
    padding: 0.20em;
    background-color: rgb(255, 252, 252);
    color: rgb(8, 8, 8);
}

#yesbtn{
    transform: translate(-100%,0);
}

#nobtn{
    position: absolute;

}

